*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-size: 62.5%;
    background-color: black;
}

main
{
    width: 100%;
    height: 100%;
}

.prueba
{
    display: flex;
    grid-template-columns: auto;
    background-color: black;
}

.header
{
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}

.img1
{
    width: 50px;
    height: 50px;
}

.namefig
{
    font-size: 5rem;
    color: white;
}


.nav
{
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
}

.nav-section
{

}

.ul-nav-section
{
    
}

.nav-list
{
    display: inline-block;
}

.nav-list a
{
    color: rgb(15, 15, 136);
    font-size: 2rem;
    border-radius: 5px;
    padding: 5px;
    background-color: aqua;
    text-decoration: none;
}

.nav-list a:hover
{
    padding: 6px;
    color: rgb(15, 15, 136);
}

#body-center
{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.aside
{
    width: 200px;
    height: 400px;
    background-color: black;
    list-style: none;
    border: 1px solid white;
    overflow-y: scroll;
}


.ul-aside
{
    height: auto;
}

.aside-list
{
    border-radius: 10px;
    border: 1px solid white;
    padding-top: 9px;
}

.aside-list a
{
    display: flex;
    justify-content: center;
    top
    border: 1px solid white;
    font-weight: bold;
    font-style: italic;
    padding-top: 5px;
    font-size: 4rem;
    color: black;
    border-radius: 5px;
    padding: 3px;
    background-color: rgb(218, 218, 33);
    text-decoration: none;
}

.contenido
{
    border: 1px solid white;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: gray;
}

.graficos
{
    border: 1px solid white;
    color: white;
}

.img2
{
    width: 700px;
    height: 385px;
}

.footer-red
{
    background-color: black;
    border: 1px solid white;
}

.footer-red a
{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}

/* clases: 
header:
header
img1 (header-img1)
namefig (header-figurecaption)

nav (header-section)
nav-section (header-section-nav)
ul-nav-section
nav-list (lista dentro de nav)


aside:
aside
ul-aside
aside-list


footer:
footer-red (redes sociales)
*/